/* Add Pep et. al colors (from styleguide) */
:root {
	--pep-gray: #565656;
	--pep-blue: #397CCC;
	--pep-green: #2CCCA0;
	--pep-yellow: #FFB137;
    --maincolor: var(--pep-yellow);
    --body-bg: #f1f0f0;
    --body-bg: white;
}

/* Body (font-family etc.) */
body {
    background-color: var(--body-bg);
    /*background-color: var(--pep-yellow);*/
    padding-top: 110px;
    font-family: Roboto !important;
    font-weight: 400;
}


/* choose primary, secondary background-colors */
.bg-primary {
	background-color: var(--pep-yellow) !important;
}

.bg-secondary {
  background-color: var(--pep-gray) !important;
}

/* choose primary, secondary text-colors */
.text-primary {
  color: var(--pep-yellow) !important;
}

.text-secondary {
  color: var(--pep-gray) !important;
}

/* custom */
hr.star-light {
	border-color: var(--pep-gray);
}

hr.star-light:after {
	background-color: var(--pep-blue);
}


h1 {
	font-weight: 600;
}

.text-uppercase {
	text-transform: none !important;
}
/* war schon da.. */
a {
  color: #397CCC;
}


/* Carousel new classes*/
.carousel-img-new {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 140px;
}

/* Add top: 150px */
.carousel-caption-new {
	top: 140px;
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	color: var(--pep-gray);
}

.carousel {
  position: relative;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%397ccc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%397ccc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--pep-gray);
}

.carousel-indicators .active {
  background-color: var(--maincolor);
}

.carousel-control-next,
.carousel-control-prev {
    width: 10% !important;
}



/* Navbar */
.navbar-brand-new:not(.nohover) {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	text-decoration: none;
	color: white;
	font-family: Roboto !important;
	font-weight: 600;
	font-size: 35px;
	text-decoration: underline var(--maincolor);
}

/* Wellenpaket schließt mit Unterstrich vom Title ab */
.navbar-brand-image {
	height: 150px;
	/*margin-top: 24px;*/
	color: var(--pep-blue);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-align: right;
  font-size: 20px;
  color: white !important;
}

.nav-link:hover {
  opacity: 1;
  color: var(--pep-yellow) !important;
}

.text-gray {
    color: var(--pep-gray) !important;
}


.card-body-new {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: white;
  border: 8px solid white;
  border-radius: 5px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.lead {
	font-weight: 320;
}

/* OpenStreetMap*/
.map-iframe {
    width: 100%;
}

.h2-fontsize {
    font-size: 2.7rem !important;
}

.p-fontsize {
    font-size: 20px !important;
}

.mh200 {
  max-height: 200px;
}

/* Carousel hover*/
.carousel-item active:hover,
.carousel-item:hover {
  transition: all ease 0.25s;
  opacity: .5
}

/* Grid hover*/
.hover-image:hover {
  transition: all ease 0.25s;
  opacity: .5
}