html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

.header-logo {
  height: 3.5rem;
  max-width: 100%;
  margin-bottom: 2rem;
}

@include media-breakpoint-up(md) {
  .header-logo {
    height: 5rem;
    margin-bottom: 2rem;
  }
}

/* Add Pep et. al colors (from styleguide) */
:root {
	--pep-gray: #565656;
	--pep-blue: #5b8fcb;
	--pep-green: #2CCCA0;
	--pep-yellow: #FFB137;
	--light-gray: #7C7C7C;
    --maincolor: var(--pep-yellow);
    --body-bg: #f1f0f0;
    --body-bg: white;
}

/* Body (font-family etc.) */
body {
    background-color: var(--body-bg);
    /*background-color: var(--pep-yellow);*/
    padding-top: 110px;
    font-family: Roboto !important;
    font-weight: 400;
}

.yellow {
  color: var(--pep-yellow);
}

.gray {
  color: var(--pep-gray);
}

/* choose primary, secondary background-colors */
.bg-primary {
	background-color: var(--pep-yellow) !important;
}

.bg-secondary {
  background-color: var(--pep-gray) !important;
}

/* choose primary, secondary text-colors */
.text-primary {
  color: var(--pep-yellow) !important;
}

.text-secondary {
  color: var(--pep-gray) !important;
}

/* custom */
hr.star-light {
	border-color: var(--pep-gray);
}

hr.star-light:after {
	background-color: var(--light-gray);
}


h1 {
	font-weight: 600;
}

.text-uppercase {
	text-transform: none !important;
}
/* war schon da.. */
a {
  color: #397CCC;
}

.frame {
  height: 140px;
  position: relative;
}

/* Carousel new classes*/
.carousel-img-new {
  position: absolute;
	margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

/* Add top: 150px */
.carousel-caption-new {
	padding-top: 1rem;
	color: var(--pep-gray);
}

.carousel-inner {
  max-width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators {
  position: relative;
  margin-top: 3rem;
}

.carousel-indicators li {
  background-color: var(--pep-gray);
}

.carousel-indicators .active {
  background-color: var(--maincolor);
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: var(--pep-gray);
  font-size: 2rem;
}

/* Navbar */
.navbar-brand-new:not(.nohover) {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	text-decoration: none;
	color: white;
	font-family: Roboto !important;
	font-weight: 600;
	font-size: 35px;
	text-decoration: underline var(--maincolor);
}

/* Wellenpaket schließt mit Unterstrich vom Title ab */
.navbar-brand-image {
	height: 150px;
	/*margin-top: 24px;*/
	color: var(--pep-blue);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-align: right;
  font-size: 20px;
  color: white !important;
}

.nav-link:hover {
  opacity: 1;
  color: var(--pep-yellow) !important;
}

.text-gray {
    color: var(--pep-gray) !important;
}


.card-body-new {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: white;
  border: 8px solid white;
  border-radius: 5px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.lead {
	font-weight: 320;
}


.h2-fontsize {
    font-size: 2.7rem !important;
}

.p-fontsize {
    font-size: 20px !important;
}


.grid-col {
    text-align: center;
}

/* Info Hover*/
.info-hover:hover {
  transition: all ease 0.25s;
  font-size: 34px;
}

/* OpenStreetMap*/
.map-iframe {
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.map-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.map-link:hover {
  color: var(--pep-yellow);
  text-decoration: none;
}

/* Header Big Logo*/
.physikon-jumbotron {
  position: relative;
  /*background-color: var(--pep-gray);*/
  background-color: white;
  /*border-radius: 5px;*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 22px;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-top: 40px;

}

.logo {
  position: absolute;
	margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
