<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <h2 class="h2-fontsize  py-5">Was machen MINT-Studierende nach dem Studium?</h2>
    <p style="font-size: 2rem">
      Unsere Aussteller haben eine Antwort auf diese Frage!
    </p>
  </div>
</header>

<div class="container  pt-5 ml-120 pb-5 mt-5 mt-lg-0">

  <h3>Programm </h3>


  <p style="font-size: 1.2rem">
    Zusätzlich zu der Jobmesse am 20.04.23 auf dem Campus der TU Dortmund bieten wir im Zeitraum 17.-19.04.23 
    ein breites Online-Angebot an.
    Hier haben Unternehmen eine Stunde Zeit sich euch im Rahmen eines Vortrags via Zoom vorzustellen.
    Ihr habt hier die Gelegenheit die Aussteller schon mal kennen zu lernen und sie mit Fragen zu löchern.
    Der Zeitplan für die Online-Vorträge sowie die Anmeldung zu den Zoom Meetings wird in kürze an dieser Stelle 
    erscheinen. 
{% comment %}
  <table class="styled-table">

    <thead>
      <tr>
        <th>Zeit</th>
        <th>17.04.2022</th>
        <th>18.04.2022</th>
        <th>19.04.2022</th>
      </tr>
    </thead>
    <tr>
      <td>13-14 Uhr</td>
      <td> <a href="http://www.deloitte.com/careers">Deloitte</a></td>
      <td> <a href="https://www.cohausz-florack.de">Cohausz&Florack</a></td>
      <td> <a href="https://www.lehrer-werden.nrw/was-bringst-du-mit/seiteneinsteiger">Schulministerium NRW</a></td>
    </tr>
    <tr>
      <td>14-15 Uhr</td>
      <td> <a href="https://www.cgi.com/de/de/karriere/space/jobs-in-der-raumfahrt">CGI </a></td>
      <td> <a href="https://point-8.de/">Point 8 </a></td>
      <td> <a href="https://www.deichmann-karriere.de/jobsuche/?">Deichmann </a></td>
    </tr>
    <tr>
      <td>15-16 Uhr</td>
      <td> <a href="https://rtl.com/jobs">RTL</a></td>
      <td> <a href="https://www.ritzenhoefer.com/">Ritzenhoefer & Company</a></td>
      <td> <a href="https://www.fz-juelich.de/portal/DE/Karriere">Forschungszentrum Jülich</a></td>
    </tr>
    <tr>
      <td>16-17 Uhr</td>
      <td> <a href="https://www.amprion.net/">Amprion</a></td>
      <td> <a href="https://www.infineon.com/cms/de/">Infineon</a></td>
      <td> <a href="https://www.nrwbank.de/de/die-nrw-bank/karriere/">NRW.BANK</a></td>
    </tr>
    <tr>
      <td>17-18 Uhr</td>
      <td><a href="https://www.elmos.com/">Elmos</a></td>
      <td><a href="https://zeb-consulting.com">zeb</a></td>
      <td><a href="https://www.tngtech.com">TNG Consulting</a></td>
    </tr>
  </table>
  {% endcomment %}

  </p>
</div>