<div class="container-grid">


<!-- <h2>Unternehmen PhysiKon 2022</h2> -->
<div class="cat-logo">
  
</div>
<div class="cat-text">
  Text
</div>
<div class="cat-image">
  Bild
</div>
<div class="cat-contact">
  Kontakt
</div>

<!-- <div class="row">
  <div class="column" >
    <iframe src="img/logos/cryoelectra.pdf" ></iframe>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:rgb(138, 150, 221);">
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
</div> -->
</div>


  <hr class="star-dark">
  