<div class="container-grid">


<!-- <h2>Unternehmen PhysiKon 2022</h2> -->
  <div class="cat-logo">
    <img src="img/logos/zeb.jpg" alt="" style="max-width:100%;max-height:100%">
  </div>
  <div class="cat-contact">
    <h6> Kontakt </h6>
    <p> 
      Mariela Jansen
      Recruiting & Employer Brand Managerin 
      mariela.jansen@zeb.de 
      Bewerbungen bitte direkt über unser Online-Portal www.zeb-career.com/de/jobs einreichen. 
    </p>

  </div>
  <div class="cat-text">
    <p>
    zeb ist eine der führenden, auf den Finanzdienstleistungssektor spezialisierten Strategie- und Managementberatungen in Europa.
    Wir unterstützen Banken, Versicherungen und (Tech-) Dienstleister bei der Entwicklung neuer Geschäftsmodelle, der digitalen Transformation, dem Risikomanagement und dem IT-Management.
    Für die Themen Strategy & Organization, Finance & Risk sowie IT Consulting sind wir Experten.
    Der digitale Wandel ist unser Fachgebiet – wir unterstützen Unternehmen dabei, ihren wirtschaftlichen Erfolg auf die sich verändernde Arbeitswelt auszurichten und ihre Wettbewerbsfähigkeit zu stärken. 
  </p>
  </div>
  <div class="cat-image">
    <span class="helper"></span><img src="img/catalogue_ads/220211_Recruiting_konaktivia_A5_vw_e1.jpg" alt="" style="width:50%;">
  </div>
  <div class="cat-branche">
    <h6> Branche </h6>
    Strategie- und Managementberatung für Financial Services
  </div>
  <div class="cat-employers">
    <h6> Anzahl Mitarbeitende </h6>
    1000
  </div>
  <div class="cat-location">
    <h6> Standort(e) </h6>
    Amsterdam, Berlin, Frankfurt a. M., Hamburg, Kopenhagen, Kiew, London, Luxemburg, Mailand, Moskau, München, Münster, Oslo, Stockholm, Warschau, Wien, Zürich
  </div>
  <div class="cat-qualifications">
    <h6> Gewünschte Zusatzqualifikationen </h6>
    <ul class="a">
  <li> Persönlichkeiten, die gerne Neues entdecken und die Zukunft gestalten wollen.</li>
	<li>Erste praktische Erfahrung durch relevante Praktika oder eine Berufsausbildung.</li>
	<li>Du bist neugierig, zuverlässig und teamorientiert.</li>
	<li>Du hast Spaß daran, gemeinsam Gewohntes infrage zu stellen.</li>
  <li>Englisch, idealerweise Deutsch und die jeweilige Landessprache sprichst du fließend.</li>
    </ul>
  </div>
</div>
  <hr class="star-dark">
  