<header class="masthead bg-primary text-white text-center">
  <div class="container">
  <h2 class="h2-fontsize  py-5">Sie suchen schlaue Köpfe und motivierte Absolvent:innen aus dem MINT-Bereich?</h2>
  <p style="font-size: 2rem">
  Die PhysiKon 2022 bietet Ihnen die Gelegenheit, Ihr Unternehmen für Absolvent:innen 
  aller MINT-Fakultäten der TU Dortmund attraktiv zu präsentieren.</p>
</div>
</header>

<div class="container pt-5">

  <h3>Ihre Unternehmenspräsentation bei der PhysiKon 2022</h3>

  <h5>Format und Termin</h5>
  <p style="font-size: 1.2rem">
    Die PhysiKon 2022 soll nach einer reinen Online PhysiKon 2021 wieder den persönlichen 
    Kontakt zwischen Unternehmen und Studierenden im Rahmen einer Jobmesse ermöglichen. Die Messe wird 
    am 28.04.2022 auf dem Campus ther TU Dortmund stattfinden. Bereits 2019 fand die erste PhysiKon als Präsenzmesse statt. 
    Hier konnten sich 15 Unternehmen im Laufe eines Tages rund 400 Studierenden präsentieren.
    Dennoch hat die PhysiKon 2021 gezeigt, dass auch Online Vorträge einige Vorteile mit sich bringen: 
    Zum Beispiel können Sie ihr Unternehmen innerhalb einer Stunde einer größeren Anzahl von Studierenden vorstellen und es werden 
    in größerer Runde wertvolle Fragen von Studierenden mit unterscheidlichsten Interessen gestellt.
    Daher möchten wir im Vorlauf der Jobmesse, 24.-27.04.2022, Online Vorträge 
    via <b>Zoom</b> veranstalten, an denen Sie optional neben der Jobmesse teilnehmen können. 
    Um die technische Umsetzung kümmern wir uns, Sie müssen lediglich über einen Internet-Browser verfügen.
    Die Zeiteinteilung für die einzelnen Tage wird Anfang 2022 erfolgen, wenn alle Ausstellerplätze vergeben sind.
  </p>

  <h5>Jobmesse</h5>
  <p style="font-size: 1.2rem">
    Auf unserer Jobmesse haben Sie die Möglichkeit an Ihrem Messestand mit Studierenden in Kontakt zu treten.
    Die Messe wird am 28.04.2022 auf dem Campus der TU Dortmund stattfinden.  
    Genaue Informationen zur Größe des Standes erhalten Sie sobald alle Ausstellerplätze vergeben sind.
  </p>


  <h5>Online Vortrag</h5>
  <p style="font-size: 1.2rem">
    Jedes Unternehmen hat eine Stunde Zeit sich den interessierten Studierenden vorzustellen.
    Diese Stunde kann relativ frei gestaltet werden.
    Wir stellen uns einen einleitenden Vortrag vor, der über Ihr Unternehmen und den klassischen Aufgabenbereich für 
    MINT-Fachkräfte erzählt.
    Es sollte ausreichend Zeit für Fragen eingeplant werden, da wir den Teilnehmenden die Möglichkeit geben möchten, mit Ihnen ins 
    Gespräch zu kommen.
    Zoom verfügt über eine Breakout-Room-Funktion, die Gespräche in kleineren Gruppen ermöglicht und gerne genutzt werden kann.
  </p>

  <h5>Messekatalog</h5>
  <p style="font-size: 1.2rem">
    Zur PhysiKon wird ein Messekatalog erscheinen, der kostenlos online zur Verfügung gestellt wird. Im Katalog können Sie Ihr Unternehmen auf
    einer Seite vorstellen und Ihre Kontaktinformationen angeben. Der Katalog wird während und nach der Veranstaltung auf 
    unserer Webseite zur Verfügung stehen.
  </p>


  <h5>Stellenmarkt</h5>
  <p style="font-size: 1.2rem">
    In Kooperation mit der <b>Jobbörse</b> von PeP et al. bieten wir einen Stellenmarkt an, auf dem Sie gerne aktuelle offene Stellen, 
    Praktika oder Traineeprogramme
    veröffentlichen können. Bitte senden Sie dazu Ihre Anzeigen an <a href="mailto:jobboerse@pep-dortmund.org">physikon@pep-dortmund.org</a>.
    Die Jobbörse ist auch vor und nach der PhysiKon 2022 erreichbar.
  </p>


  <h5>Ausstellergebühr</h5>
  <p style="font-size: 1.2rem">
    Der Ausstellerbeitrag für die PhysiKon 2022 beträgt 1000€.
    Selbstverständich stellen wir Ihnen eine Rechnung über den Beitrag aus.
    Zudem freut sich der gemeinnützige Verein PeP et al. e.V. über Spenden mit denen 
    Projekte und Stipendien für die Physikstudierende der TU Dortmund finanziert werden.
    Falls Sie sich über unsere Arbeit informieren möchten, besuchen Sie gerne 
    die <a href="https://pep-dortmund.org/" target="_blank" rel="noopener noreferrer">Webseite von PeP et al.</a>

  </div>

  <div class="container pt-5">
  <h3 class="mt-2">Kontakt</h3>
  <p style="font-size: 1.2rem">
  Bei Interesse an der PhysiKon, melden Sie sich unter <a href="mailto:physikon@pep-dortmund.org">physikon@pep-dortmund.org</a>.
  <br>
  Wir beantworten Ihnen gerne Ihre Fragen und nehmen Ihre Anmeldung zur Messe entgegen.</p>


</div>
