<div class="card-body-new">
<div class="card">
<div class="card-body-new">
<header class="container">
  <h2>Möchten Sie Physiker*innen für Ihr Unternehmen gewinnen?</h2>
  <p class="lead">
  
  Die PhysiKon bietet Ihnen die Gelegenheit, Ihr Unternehmen für Absolventen und 
  Absolventinnen der Physik attraktiv zu präsentieren.</p>
</header>

<main class="container">

  <h3>Ihr Stand auf der PhysiKon</h3>
  <p>
  Für die Ausstellergebühr von 500€ bieten wir Ihnen das folgende Rundum-Sorglos-Paket:</p>

  <h5>Messestand</h5>  
  <p>
  Jedes Unternehmen erhält eine Ausstellungsfläche von 2,5 m x 2,5 m.
  Auf Wunsch kann gerne ein Stehtisch oder auch ein Ablagetisch zur Verfügung
  gestellt werden. Für eine ausreichende Stromversorgung, sowie einen
  Internetzugang wird gesorgt. Größere Stellflächen sind aus organisatorischen
  Gründen nicht möglich.</p>

  <h5>Messekatalog</h5>  
  <p>
  Zur PhysiKon wird ein Messekatalog erscheinen, der an die Besucherinnen und
  Besucher kostenlos verteilt wird. Im Katalog können Sie ihr Unternehmen auf
  einer Seite darstellen, sowie auf einer weiteren Seite Stellenangebote
  veröffentlichen.</p>

  <h5>Präsentation</h5>  
  <p>
  Den Absolventen und Studierenden sollen auf der PhysiKon nicht nur Unternehmen
  präsentiert werden, sondern auch die Berufsrealität näher gebracht werden.
  Neben persönlichen Gesprächen mit den Besuchern bieten wir Ihnen daher auch die Möglichkeit 
  ihr Unternehmen und Ihren Berufsalltag in einem kurzen Vortrag einem größeren Publikum vorzustellen. </p>

  <h5>Stellenmarkt</h5> 
  <p>
  Auf dem Stellenmarkt können Sie offene Stellen, Praktika oder Traineeprogramme
  veröffentlichen. Bitte senden Sie uns diese Anzeigen rechtzeitig zu.</p>

  <h5>Catering</h5>
  <p>
  Für das leibliche Wohl des Standpersonals wird von uns gesorgt.</p>

  <h3>Kontakt</h3>
  <p>
  Bei Interesse an der PhysiKon, melden Sie sich unter <a href="mailto:physikon@pep-dortmund.org">physikon@pep-dortmund.org</a>.
  <br>
  Wir beantworten Ihnen gerne Ihre Fragen
  und nehmen Ihre Anmeldung zur Messe gerne entgegen.</p>

</div>
</div>
</div>
