<!-- grid.html  -->


<!-- Grid Section -->
<section class="portfolio" id="portfolio">
<div class="container mx-auto">

<hr class="star-dark mb-5">

{% for post in site.data.unternehmen %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
      <div class="row text-center">
    <div class="col-md-6 col-lg-6">
      <a class="portfolio-item d-block mx-auto" href="{{ post.url }}">
      <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
        </div>
      </div>
      <img class="img-fluid mh200" src="{{ post.url }}" alt="">
    </a>
    </div>
  {% else %}
    <div class="col-md-6 col-lg-6">
      <a class="portfolio-item d-block mx-auto" href="{{ post.url }}">
      <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
      </div>
      </div>
      <img class="img-fluid mh200" src="{{ post.url }}" alt=""></a>
    </div>
    </div>
  {% endif %}
{% endfor %}


</div>
</section>