<!-- grid.html  -->


<!-- Grid Section -->
<section class="portfolio" id="portfolio">
<div class="container mx-auto">

<hr class="star-dark mb-5">

<div class="row justify-content-center">
{% for unternehmen in site.data.unternehmen %}
  <div class="col-xl-3 col-md-4 col-6 grid-col">
    <a class="mx-auto" href="{{ unternehmen.url }}" target="_blank">
      <div class=frame>
        <img class="logo" src="{{ unternehmen.logo }}" alt="">
      </div>
    </a>
  </div>
{% endfor %}
</div>


</div>
</section>
