    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <!-- <img class="img-fluid mb-5 d-block mx-auto" src="img/logo2_white.svg" alt="" style="height: 150px"> -->
        <h1 class="mb-0" style="color: var(--pep-blue)">LOGO</h1>
        <h1 class="mb-0">Jobmesse für Physikstudierende</h1>
        <hr class="star-light">

<!--             <ul class="lead text-center" style="list-style: none">
      <li><h2 class="font-weight-light mb-0">Unternehmen aus der Umgebung stellen sich vor und dich ein</h2></li>
      <li><h2 class="font-weight-light mb-0">Das ganze Spektrum der Jobs für Physiker*innen</h2></li>
      <li><h2 class="font-weight-light mb-0">An einem Tag unter einem Dach</h2></li>
    </ul> -->
        <h2 class="font-weight-light mb-0">Unternehmen aus der Umgebung stellen sich vor und dich ein</h2>
      </div>
    </header>