<!-- information.html-->
<section class="bg-primary mb-5 mt-5">
<div class="container text-center text-white pb-5">

<!-- Information Header -->
<h2 class="text-center text-white text-uppercase mb-0 h2-fontsize">Informationen</h2>
<hr class="star-light mb-5">
  <div class="row pb-5">
    <div class="col-sm">
      <h3><i class="fas fa-location-arrow"></i> Ort</h3>
      <p><h5>Vogelpothsweg 118</h5></p>
      <p><h5>44227 Dortmund</h5></p>
    </div>
    <div class="col-sm">
      <h3><i class="fas fa-calendar-alt"></i> Datum</h3>
      <p><h5> 11. April 2019</h5>
    </div>
    <div class="col-sm">
      <h3><i class="fas fa-clock"></i> Uhrzeit</h3>
      <p><h5> 10 - 17 Uhr</h5></p>
    </div>
  </div>

  <p style="font-size: 1.5rem">Direkt an der S-Bahn Station (Dortmund Universität) gelegen, befindet sich der "Campus-Treff". Der großzügige und helle Konferenzsaal bietet genügend Fläche, um Ihr Unternehmen zu präsentieren und mit Besuchern ins Gespräch zu kommen.

<!-- Anfahrt Header -->
<h2 class="text-center text-white text-uppercase mb-0 h2-fontsize">Anfahrt</h2>
<hr class="star-light mb-5">

{% include map.html %}

</div>
</div>
</section>
