<!-- information.html-->
<section class="bg-primary mb-5 mt-5">
<div class="container text-center text-white pb-5">

<!-- Information Header -->
<h2 class="text-center text-white text-uppercase mb-0 h2-fontsize">Informationen</h2>
<hr class="star-light">
<h2 class="text-danger">findet auf Grund der COVID-19-Pandemie digital statt</h2>
<br>
  <div class="row pb-5">
    <div class="col-sm">
      <h3><i class="fas fa-location-arrow"></i> Ort</h3>
      <p><h5>Zoom</h5></p>
    </div>
    <div class="col-sm">
      <h3><i class="fas fa-calendar-alt"></i> Datum</h3>
      <p><h5> 19. - 23. April 2021</h5>
    </div>
    <div class="col-sm">
      <h3><i class="fas fa-clock"></i> Uhrzeit</h3>
      <p><h5> täglich 16 - 18 Uhr</h5></p>
    </div>
  </div>

  <!--<p style="font-size: 1.5rem">Direkt an der S-Bahn Station (Dortmund Universität) gelegen, befindet sich der "Campus-Treff". Der großzügige und helle Konferenzsaal bietet genügend Fläche, um Ihr Unternehmen zu präsentieren und mit Besuchern ins Gespräch zu kommen.-->

<!-- Anfahrt Header -->

{% comment %}
<h2 class="text-center text-white text-uppercase mb-0 h2-fontsize">Anfahrt</h2>
<hr class="star-light">

{% include map.html %}
{% endcomment %}
</div>
</div>
</section>
