<!-- Information (Datum, Uhrzeit, Ort) + OpenStreetMap-->
<div class="card-body-new">
<div class="row">

<!-- First column (Datum, Uhrzeit, Ort) -->
<div class="col-12 col-lg-6 mb-3">
<div class="card">
<div class="card-body-new">

<!-- Übersicht (Datum, Uhrzeit, Ort-->
  <div class="row">
    <div class="col-sm">
      <h5><i class="fas fa-location-arrow"></i> Ort</h5>
      <p >Vogelpothsweg 118, 44227 Dortmund </p>
    </div>
    <div class="col-sm">
      <h5><i class="fas fa-calendar-alt"></i> Datum</h5>
      <p> 04. April 2019
    </div>
    <div class="col-sm">
      <h5><i class="fas fa-clock"></i> Uhrzeit</h5>
      <p> 10 - 16 Uhr</p>
    </div>
  </div>

  <p>Die PhysiKon 2019 findet im Campus-Treff der TU Dortmund statt.</p>
  <img src="img/campus-treff.jpg" style="width: 100%">

<!-- Close first column -->
</div>
</div>
</div>

<!-- Second column: OpenStreetMap -->
<div class="col-12 col-lg-6 mb-3">
	<div class="card">
	<div class="card-body-new">
		<h5 class="card-title">Karte</h5>

<!-- Include map -->
{% include map.html %}

<!-- Close second column -->
</div>
</div>
</div>

<!-- Close all -->
</div>
</div>
</div>

