<!-- class map-iframe in custom.css -->
<!-- OpenLayers -->


<div id="map" class="map-iframe"></div>


<!-- Skript -->
<script type="text/javascript">
var baseMapLayer = new ol.layer.Tile({
  source: new ol.source.OSM()
});
var map = new ol.Map({
  interactions: ol.interaction.defaults({mouseWheelZoom:false}),
  target: 'map',
  layers: [ baseMapLayer],
  view: new ol.View({
          center: ol.proj.fromLonLat([7.41721, 51.49290]), // Genauen Ort hinzufügen
          zoom: 16 //Initial Zoom Level
        })
});

//Adding a marker on the map
var marker = new ol.Feature({
  geometry: new ol.geom.Point(
    ol.proj.fromLonLat([7.41721, 51.49290])
  ),  
});
var vectorSource = new ol.source.Vector({
  features: [marker]
});
var markerVectorLayer = new ol.layer.Vector({
  source: vectorSource,
});
map.addLayer(markerVectorLayer);
</script>