<header class="masthead bg-primary text-white text-center">
  <div class="container">
  <h2 class="h2-fontsize  py-5">Was machen Physiker und Physikerinnen nach dem Studium?</h2>
  <p style="font-size: 2rem">
  Unsere Aussteller haben eine Antwort auf diese Frage!
  </p>
</div>
</header>

<div class="container  pt-5 ml-120 pb-5 mt-5 mt-lg-0">

  <h3>Programm </h3>
<p>  </p>

  <p style="font-size: 1.2rem">
        <table style="width:100%" >
    <tr>
      <td><h5>Montag</h5></td>
    </tr>
    <tr>
      <td>16:00 - 17:00   </td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.ritzenhoefer.com/">Ritzenhoefer & Company</a></td>
    </tr>
    <tr>
      <td>17:00 - 18:00</td>
      <td><a href="https://tu-dortmund.webex.com/tu-dortmund/j.php?MTID=m445a00c143396214aa501ed2baf31f50">Webex</a></td>
      <td><a href="https://www.verfassungsschutz.de/de/karriere" >Bundesamt für Verfassungsschutz</a></td>
    </tr>
    <tr>
      <td><p></td>
    </tr>
    <tr>
      <td><h5>Dienstag</h5></td>
    </tr>
    <tr>
      <td>15:00 - 16:00   </td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.infineon.com/cms/de/">Infineon</a></td>
    </tr>
    <tr>
      <td>16:00 - 17:00   </td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.brunel.de/de-de">Brunel</a></td>
    </tr>
    <tr>
      <td>17:00 - 18:00</td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.wkgt.com/">Warth & Klein Grant Thornton AG Wirtschaftsprüfungsgesellschaft</a></td>
    </tr>
    <tr>
      <td><p></td>
    </tr>
    <tr>
      <td><h5>Mittwoch</h5></td>
    </tr>
    <tr>
      <td>16:00 - 17:00   </td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.cohausz-florack.de">Cohausz & Florack</a></td>
    </tr>
    <tr>
      <td>17:00 - 18:00</td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://point-8.de/">Point8</a></td>
    </tr>
    <tr>
      <td><p></td>
    </tr>
    <tr>
      <td><h5>Donnerstag</h5></td>
    </tr>
    <tr>
      <td>16:00 - 17:00   </td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.ey-parthenon.de/">EY Parthenon</a></td>
    </tr>
    <tr>
      <td>17:00 - 18:00</td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.bilstein.com/de/de/">thyssenkrupp Bilstein</a></td>
    </tr>
    <tr>
      <td><p></td>
    </tr>
    <tr>
      <td><h5>Freitag</h5></td>
    </tr>
    <tr>
      <td>16:00 - 17:00   </td>
      <td><a href="https://t1p.de/PhysiKon2021">Zoom</a></td>
      <td><a href="https://www.amprion.net">Amprion</a></td>
    </tr>
    <tr>
    </tr>
  </table>
  </p>


  </div>

</div>
