<header class="masthead bg-primary text-white text-center">
  <div class="container">
  <h2 class="h2-fontsize  py-5">Was machen Physiker und Physikerinnen nach dem Studium?</h2>
  <p style="font-size: 2rem">
  Unsere Aussteller werden diese Frage in kurzen Vorträgen beantworten!
  </p>
</div>
</header>

<div class="container pt-5">

  <h3>Vortragsprogramm </h3>
<p>  </p>
  <h5>Block 1: 10:30 - 11:30</h5>
  <p style="font-size: 1.2rem">
        <table style="width:30%">
    <tr>
      <td>10:30 - 10:45</td>
      <td>IAV GmbH</td>
    </tr>
    <tr>
      <td>10:45 - 11:00</td>
      <td>Scisys Deutschland GmbH</td>
    </tr>
    <tr>
      <td>11:00 - 11:15</td>
      <td>Cohauz & Florack</td>
    </tr>
    <tr>
      <td>11:15 - 11:30</td>
      <td>Ritzenhoefer GmbH</td>
    </tr>
  </table>

  </p>

  <h5>Block 2: 13:30 - 14:45</h5>
  <p style="font-size: 1.2rem">
    <table style="width:35%">
    <tr>
      <td>13:30 - 13:45</td>
      <td>Warth & Klein AG</td>
    </tr>
    <tr>
      <td>13:45 - 14:00</td>
      <td>zeb</td>
    </tr>
    <tr>
      <td>14:00 - 14:15</td>
      <td>VDI Technologiezentrum GmbH</td>
    </tr>
    <tr>
      <td>14:15 - 14:30</td>
      <td>Point 8 GmbH</td>
     </tr>
    <tr>
      <td>14:30 - 14:45</td>
      <td>Robert Bosch GmbH</td>
    </tr>
  </table>

  </p>

  <h5>Block 3: 15:30 - 16:00</h5>
  <p style="font-size: 1.2rem">
    <table style="width:25%">
    <tr>
      <td>15:30 - 15:45</td>
      <td>mitNORM</td>
    </tr>
    <tr>
      <td>15:45 - 16:00</td>
      <td>wir:personalberater</td>
    </tr>
  </table>

  </p>


  </div>

</div>
