<header class="masthead bg-primary text-white text-center">
  <div class="container">
  <h2 class="h2-fontsize  py-5">Was machen Physiker:innen nach dem Studium?</h2>
  <p style="font-size: 2rem">
  Unsere Aussteller haben eine Antwort auf diese Frage!
  </p>
</div>
</header>

<div class="container  pt-5 ml-120 pb-5 mt-5 mt-lg-0">

  <h3>Programm </h3>
<p>  </p>

  <p style="font-size: 1.2rem">
        <table style="width:100%" >
    <tr>
      <td><h5>Hier wird in Kürze das Programm für die PhysiKon-Woche vom 24. bis 28.04.2022 erscheinen.</h5></td>
    </tr>
  </div>
