<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <h2 class="h2-fontsize  py-5">Sie suchen schlaue Köpfe und motivierte Absolvent:innen aus dem MINT-Bereich?</h2>
    <p style="font-size: 2rem">
      Die PhysiKon 2023 bietet Ihnen die Gelegenheit, Ihr Unternehmen für Absolvent:innen
      aller MINT-Fakultäten der TU Dortmund attraktiv zu präsentieren.</p>
  </div>
</header>

<div class="container pt-5">


  <h3>Ihre Unternehmenspräsentation bei der PhysiKon 2023</h3>
  <br>
  <p style="font-size: 1.2rem">
    Die PhysiKon 2023 setzt sich wie im letzten Jahr in einem hybriden Format aus klassischer Jobmesse 
    und Online Vorträgen der teilnehmenden Unternehmen zusammen.
  </p> <br>
    

  <h5>Jobmesse</h5>
  <p style="font-size: 1.2rem">
    Auf unserer Jobmesse haben Sie die Möglichkeit an Ihrem Messestand mit Studierenden in Kontakt zu treten.
    Die Messe findet am Donnerstag, dem 20.04.23, 10-16Uhr auf dem Campus der TU Dortmund statt (Emil-Figge-Str. 50).
    Die Stände können frei von Ihnen gestaltet werden. Bitte beachten Sie, das die Aufbauten innerhalb einer 
    Fläche von 2,5x2,5m Platz finden müssen. Die Stände sind mit Strom versorgt und bei Bedarf können wir 
    Stehtische zur Verfügung stellen.
  </p> <br>


  <h5>Online Vortrag</h5>
  <p style="font-size: 1.2rem">
    Im Vorfeld der Präsenzmesse, 17.-19.04.23, bieten wir jeweils zwischen 13 und 18Uhr ein Online Programm via Zoom an. 
    Hier hat jedes Unternehmen eine Stunde Zeit sich den interessierten Studierenden vorzustellen.
    Diese Stunde kann relativ frei gestaltet werden.
    Wir stellen uns einen einleitenden Vortrag vor, der über Ihr Unternehmen und den klassischen Aufgabenbereich für
    MINT-Fachkräfte erzählt.
    Es sollte ausreichend Zeit für Fragen eingeplant werden, da wir den Teilnehmenden die Möglichkeit geben möchten, mit
    Ihnen ins Gespräch zu kommen.
    Zoom verfügt über eine Breakout-Room-Funktion, die Gespräche in kleineren Gruppen ermöglicht und gerne genutzt
    werden kann.
    Um die technische Umsetzung der Zoom-Konferenz kümmern wir uns, Sie müssen lediglich über einen Internet-Browser
    verfügen.
  </p>

  <h5>Messekatalog</h5>
  <p style="font-size: 1.2rem">
    Zur PhysiKon wird ein Online Messekatalog erscheinen, der kostenlos zur Verfügung gestellt wird.
    Im Katalog können Sie Ihr Unternehmen vorstellen und Ihre Kontaktinformationen angeben.
    Der Katalog wird während und nach der Veranstaltung auf unserer Webseite zur Verfügung stehen.
  </p>


  <h5>Stellenmarkt</h5>
  <p style="font-size: 1.2rem">
    In Kooperation mit der <b>Jobbörse</b> von PeP et al. bieten wir einen Stellenmarkt an, auf dem Sie gerne aktuelle
    offene Stellen, Praktika oder Traineeprogramme veröffentlichen können.
    Bitte senden Sie dazu Ihre Anzeigen an <a href="mailto:jobboerse@pep-dortmund.org">physikon@pep-dortmund.org</a>.
    Die Jobbörse ist auch vor und nach der PhysiKon 2023 erreichbar.
  </p>


  <h5>Ausstellergebühr</h5>
  <p style="font-size: 1.2rem">
    Die Ausstellergebühr für die Präsenzmesse am 20.04.23 beträgt 1300€.
    Zudem haben Sie als ausstellendes Unternehmen die Möglichkeit einen Online Vortrag ohne zusätzliche Gebühren zu
    halten. Möchten Sie lediglich an dem Online-Programm teilnehmen, beträgt die Gebühr 800€.
    Selbstverständich stellen wir Ihnen eine Rechnung über Ihren Beitrag aus.

  <h5>Fristen</h5>
  <p style="font-size: 1.2rem">
    Falls Sie Ihre Teilnahme an der PhysiKon nicht wahrnehmen können, bitten wir bis zum 23.02.2023 (8 Wochen vorher) um Absage.
    Die Ausstellergebühren entfallen bei einer fristgerechten Absage.
  </p>



<h3 class="mt-2">Kontakt</h3>
<p style="font-size: 1.2rem">
  Bei Interesse an der PhysiKon, melden Sie sich unter <a
    href="mailto:physikon@pep-dortmund.org">physikon@pep-dortmund.org</a>.
  <br>
  Wir beantworten Ihnen gerne Ihre Fragen und nehmen Ihre Anmeldung zur Messe entgegen.
  <br>
  <p style="font-size: 1.2rem">
    Der gemeinnützige Verein PeP et al. e.V. freut sich über Spenden mit denen
    Projekte und Stipendien für die Physikstudierenden der TU Dortmund finanziert werden.
    Falls Sie sich über unsere Arbeit informieren möchten, besuchen Sie gerne
    die <a href="https://pep-dortmund.org/" target="_blank" rel="noopener noreferrer">Webseite von PeP et al</a>.

</p>


</div>