<div class="jumbotron jumbotron-fluid physikon-jumbotron px-3 text-white text-center">
  <img class="header-logo" src="img/logos-physikon/logo-pfeil-gruen.svg" alt="PhysiKon">
  <h2 class="gray">17. - 19. April 2023 Online Vorträge <br>
    13 - 18 Uhr Zoom <br><br>
    20. April 2023 Jobmesse <br> 10-16Uhr EF50
  </h2>
</div>

<header class="container-fluid masthead bg-primary text-white text-center pt-4">
  <h1>Jobmesse für MINT-Studierende</h1>
  <hr class="star-light">

  <div class="row">
    <div class="col-12 col-lg-4 mt-2">
      <p class="font-weight-light">
        Du bist auf der Suche nach einem Job nach dem Studium, einem Praktikum oder Werkstudierendenjob?
      </p>
    </div>

    <div class="col-12 col-lg-4 mt-2">
      <p class="font-weight-light">
        Du möchtest dich einfach mal informieren, was du mit einem Physik-Studium alles anfangen kannst?
      </p>
    </div>

    <div class="col-12 col-lg-4 mt-2">
      <p class="font-weight-light">
        Du bist auf dem Weg Elektrotechniker:in, Informatiker:in, oder Ingenieur:in zu werden und interessierst dich für
        unsere Aussteller?
      </p>
    </div>
  </div>

  <p class="font-weight-light mb-5" style="font-size: 3rem">
    Dann komm vorbei!
  </p>

  <div class="row">
    <div class="col-12 col-lg-6 mt-3">
      <img src="img/logo_weiss.svg" alt="" style="width: 100%; max-width: 350px;">
    </div>
    <div class="col-12 col-lg-6 mt-3">
      <img src="img/tud_logo_negativ.svg" alt="" style="width: 100%; max-width: 350px;">
    </div>
  </div>
</header>