<div class="container pt-4 text-center text-gray">

  <h2> Die PhysiKon 2023 findet online und
    in Präsenz statt!</h2>
  {% comment %}
  <br>
  <h3>Für die Online Vorträge müsst ihr euch einmalig registrieren!</h3> 
  <h3>Für die Teilnahme an der Präsenzmesse am Campus der TU Dortmund ist keine Anmeldung nötig. Kommt einfach vorbei!
    <br>
    Die PhysiKon ist kostenlos!
  </h3>
  {% endcomment %}
  <br>
  <div class="row pb-5">
    <div class="col-sm">
      <h3><i class="fas fa-location-arrow"></i> Ort</h3>
      <p>
      <h5>
        TU Dortmund <br>
        Emil-Figge-Straße 50 <br>
        44227 Dortmund
      </h5>
      </p>
    </div>
    <div class="col-sm">
      <h3><i class="fas fa-calendar-alt"></i> Datum</h3>
      <p>
      <h5> 17. - 20. April 2023</h5>
    </div>
    <div class="col-sm">
      <h3><i class="fas fa-clock"></i> Uhrzeit</h3>
      <p>
      <h5> Online: <br>17. - 19. April: 13 - 18 Uhr <br> Messetag: <br> 20. April: 10 - 16 Uhr</h5>
      </p>
    </div>
  </div>
</div>